/*================= clearfix =================*/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
..clearfix:after {
	clear: both;
}
.clearfix {
*zone: 1;
}

/*================= Body size+background =================*/
body {
	width: 1536px;
	height: 1024px;
	background-image: url(../images/1999AD.png);

}

img {
}

/*================= Row 1 to 4 =================*/
.Top-block {
	width: 1536px;
	height: 200px;
}

/*================= row 5 =================*/

.row5 {
	height: 135px;
	width: 1536px;
}

/*================= row 6 =================*/

.row6 {
	height: 89px;
	width: 1536px;
}

/*================= Header columns =================*/

.top-co {
	width: 256px;
	height: 100%;
	margin: 0;
	float: left;
	display: block;
}

/*================= Global columns =================*/

.co-1 {
	width: 200px;
	height: 100%;
	margin: 0;
	float: left;
	display: block;

}

.co-2 {
	width: 247px;
	height: 100%;
	margin: 0;
	float: left;
	display: block;

}

.co-3 {
	width: 479px;
	height: 100%;
	margin: 0;
	float: left;
	display: block;
}

.co-4 {
	width: 300px;
	height: 100%;
	margin: 0;
	float: left;
	display: block;
}

.co-5 {
	width: 310px;
	height: 100%;
	margin: 0;
	float: left;
	display: block;

}

/*================= custom columns =================*/

.co-3-5 {
	width: 770px;
	height: 100%;
	margin: 0;
	float: left;
	display: block;
}

.co-3-div {
	width: 239.5px;
	height: 100%;
	margin: 0;
	float: left;
	display: block;
}

/*================= Building placement =================*/
.img-container {
	margin: 5px;
}

#building-1 {
	margin: 10px;
	padding-left: 137px;
	padding-top: 25px;

}

#building-2 {

	padding-top: 119px;
	padding-left: 4px;
}

#building-3 {
	padding-left: 51px;
	padding-top: 107px;
}

#building-4 {
	padding-left: 163px;
	padding-top: 43px;
}

#building-5 {
	margin: 10px;
	padding-left: 11px;
	padding-top: 15px;
}

/*================= Line placement =================*/

#line-1 {
	margin: 10px;
	padding-left: 295px;
	padding-top: 95px;
	display: none;
}

#line-2 {
	margin: 10px;
	padding-top: 265px;
	padding-left: 159px;
	display: none;

}

#line-3 {
	margin: 10px;
	padding-left: 375px;
	padding-top: 295px;
	display: none;
}

#line-4 {
	margin: 10px;
	padding-left: 460px;
	padding-top: 370px;
	display: none;
}

#line-5 {
	margin: 10px;
	padding-top: 250px;
	padding-left: 230px;
	display: none;
}
